.largeCurrentStateDialog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4vh;
    margin-left: 0vw;
    margin-top: 86vh;

    height:10vh;
    width: fit-content;
    position: absolute;
    z-index: 990;
    color: #01194b;
    background-color: #faf8f8;
    opacity: 70%;
    font:bold 20px/24px Verdana, Geneva, sans-serif;
    padding: 5px;


    transition: all 1s;
    animation-delay: 6s;
     animation-duration: 4s;
     animation-name: slideout;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;

}

.largeCurrentStateDialogGETIN {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4vh;
    margin-left: -80vw;
    margin-top: 86vh;

    height:10vh;
    width: fit-content;
    position: absolute;
    z-index: 990;
    color: #01194b;
    background-color: #faf8f8;
    opacity: 70%;
    font:bold 20px/24px Verdana, Geneva, sans-serif;
    padding: 5px;

    transition: all 1s;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}




@keyframes slideout {
    0%{
        opacity: 70%;
    }
    100%{
        opacity: 0;
    }
}
@keyframes slidein {
    0%{
        transform: translateX(35vw);
    }
    20%{
        transform: translateX(80vw);
    }
    80%{
        transform: translateX(80vw);
    }
    100%{
        transform: translateX(35vw);
    }
}



#close{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: 100%;

}
#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;

}