#MapProviderMenu{
    margin-top: 0vh;
    font-size: small;
    color: #000100;

}
#largeMapProviderMenu{
    display: flex;
    flex-direction: column;
    justify-content: start ;
    margin-top: 16vh;
    margin-left: 83.4vw;
    margin-right: 2vw;
    height: fit-content;
    width: fit-content;
    position: absolute;
    z-index: 990;
    border-radius: 10px 10px;
    color: #01194b;
    background-color: #faf8f8;
    opacity: 70%;
    font:bold 20px/24px Verdana, Geneva, sans-serif;
    padding-left: 1vh;


}
#div1{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#div2{
    padding-top: 2vh;
    padding-bottom: 1vh;
}
#closeIcon{
    -ms-flex-align: end;
    margin-top: 0;
}
#Name{
    -ms-flex-align: start;
    height: fit-content;
    line-height: 5vh;
    text-align: left;
    width: 90%;

}