#largeCanvas{
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    float:right;
    height: 90%;
    width: 100vw;
    z-index: 1024;
    border-radius: 10px 10px;
    color: #01194b;

    /*opacity: 50%;*/
    /*background:rgba(0,0,0,0);*/
    position: absolute;

    background-color:transparent;
    /*pointer-events: none;*/
    padding: 0;
}
