#PhotoDialogCover{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #b2b2b2;
    width: 100vw;
    height: 100vh;
    opacity: 80%;
    display: block;
}

#PhotoDialogFrame{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    background-color: #ffffff;
    position: absolute;
    top: 10vh;
    left: 30vw;

    display: flex;
    flex-direction: column;
    border-radius: 10px;
    opacity: 80%;
}
#PhotoDialogHeader{
    height: auto;
    margin:0;
    width: 100%;
}
#PhotoDialogTitle{
    float: left;
    width: auto;
    height: 4.5vh;
    line-height:4.5vh;
    margin-left: 0.5vh;

}
#PhotoDialogClose{
    float:right;

}
#ModeChoosing{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0.5vw;
    padding-right: 1vw;
}
#ModeProcessing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#uploadModel{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
}
#uploadBackground{
    position: relative;
    height: 8vh;
    width: 14vw;
    border: 0.8vh dashed black;
    border-radius: 10px;
    line-height:6vh;
    background: url("../../images/upload.png") center/cover no-repeat;
    background-size: 35%;

}
#RealUpload{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    opacity: 0;
}
#ReactCropFrame{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#ReactCropProps{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.RCline{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.RCfirstLine{
    width: 8vw;
    min-width: 30px;
}
.RCsecondLine{
    width: 12vw;
}
.RCinputSlide{
    width: 10vw;
    height: 5px;
}
#savePhotoButton{
    justify-self: flex-end;
}