#largeToolMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16vh;
    margin-left: 0.5vw;
    margin-right: 83.4vw;
    height: fit-content;
    width: 100px;
    position: absolute;
    z-index: 1050;
    border-radius: 10px 10px;
    color: #01194b;
    background-color: #faf8f8;
    opacity: 70%;
    font:bold 20px/24px Verdana, Geneva, sans-serif;

}

#ToolMenuTag{
    font-size: x-small;
    display: block;
    width: 100%;
    height: fit-content;
    margin-top: 0vh;
    margin-left: 1vh;
}
#ToolTable{
    width: 100%;
    height: fit-content;
}

#TableRow{
    height: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

#TableData{
    width: 5px;
    margin-left: -1vh;
    margin-right: 0;
}