.input{
  /*width: 100%;*/
  /*padding: 12px 20px;*/
  /*display: inline-block;*/
  /*color: white;*/
  width: 100%;
  margin-top: 6px;
  margin-bottom: 10px;

}

/*.MuiInputBase-input{*/
/*}*/
/*.MuiInputBase-root{*/
/*  color: white !important;*/
/*}*/
/*.MuiFormLabel-root.Mui-focused{*/
/*  color:#000000 !important;*/
/*}*/
#note{
  font-family: "Arial", sans-serif;
  size: 0.12rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  letter-spacing:2px;
  color: rgba(255, 255, 255, 0.4);
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{

  border-color: green !important;
  border-width: 1px !important;
}
.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline{
  border-color: red !important;
  border-width: 1px !important;
}