.input{
  /*width: 100%;*/
  /*padding: 12px 20px;*/
  /*display: inline-block;*/
  /*color: white;*/
  width: 95%;
  margin-top: 1vh;
  margin-bottom: 1vh;

}

/*.MuiInputBase-input{*/
/*}*/
/*.MuiInputBase-root{*/
/*  color: white !important;*/
/*}*/
/*.MuiFormLabel-root.Mui-focused{*/
/*  color:#000000 !important;*/
/*}*/
#note{
  font-family: "Arial", sans-serif;
  size: 0.12rem;
  margin-left: auto;
  margin-right: auto;
  letter-spacing:2px;
  color: white;
}