
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,300;1,400&display=swap');

* {
  box-sizing: border-box;
}

.ct{
    font-family: 'Raleway', sans-serif;
    /*background-color: #3580ee;*/
    background: url("./logInBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.authBorder{
    height: 80vh;
    width: 360px;

    background:rgba(255,255,255,0.15);
    box-shadow: 0 8px 32px 0 darkgray;
    backdrop-filter: blur(3.5px);
    border-radius: 10px;
    letter-spacing: 0.4rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 8vw;

    font-size: 15px;
    font-family: "Arial", sans-serif;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/

}

.welcome{
    margin: 2rem 0 2rem 0;
    color: white;
}

.ButtonForAuth{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: normal;
}
#PeopleWithOutAccount{
    width: 100%;
    height: auto;
    align-self: flex-end;

    margin-top: auto;
    margin-bottom: 40px;
}
.Tip_Text{
    width: auto;
    height: auto;
    text-align: left;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.4);
}
#BackToHome:hover{
    text-decoration: underline;
}
.SignUpLine{
    cursor: pointer;
    width: auto;
    height: auto;
    text-align: left;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}
.SignUpLine:hover{
    text-decoration: underline;
    color: white;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

/*添加动画*/
.anime{
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}

.slide-top{-webkit-animation:slide-top .5s
            cubic-bezier(.25,.46,.45,.94) both;
            animation:slide-top .5s cubic-bezier(.25,.46,.45,.94) both}
