#mainProfile{
    margin-left: 0;
    margin-right:0;
    margin-top: 0;
    height: 110vh;
    display: flex;
    flex-direction: row;
    background: url(../../images/mainProfile.jpg) center / cover transparent;
}

#navigationProfile{
    background-color: #def8f8;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6vh;
    /*max-height: 60px;*/
    width: 84%;
    position: absolute;
    z-index: 1050;
    font-size: calc(5px + 2vmin);
    color: #3580ee;
    margin-top: 5vh;
    margin-left: 8%;
    margin-right: 8%;
    /*padding-top: 0.4vh;*/
    /*padding-bottom: 0.4vh;*/

    border-radius: 10pt/10pt;
    opacity: 90%;
    animation-duration: 1s;
    animation-name: changeColor;
    animation-fill-mode:forwards;
}


@keyframes changeColor {
    from {
        background-color: #def8f8;
    }

    to {
        background-color: #737373;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-top: 0;
        border-radius: 0px;
        opacity: 100%;
        height: 7vh;
    }
}














#profile{
    display: flex;
    flex-direction: column;
    margin-top:0;
    margin-left: 0;
    padding-top: 14vh;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 28vw;
    height: auto;

}
#outSideUserPhoto{
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    display: block;
    min-width: 150px;
    min-height: 150px;
}
#userPhotoFrame{
    margin-bottom: 0;
    align-items: center;
    width: 19vw;
    height: 19vw;
    min-width: 150px;
    min-height: 150px;
    border: 2px solid #000100;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
}
#editUserPhoto {
    background-color: white;
    width: 6vh;
    height: 6vh;
    position: absolute;
    right: 1vw;
    bottom: 2.5vw;
    border-radius:50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /*z-index: 3;*/
}



#UserName{
    font-size: xxx-large;
}
#Email{
    font-size: small;
}
#profileTable{
    margin-bottom: 2vh;
}

#content{
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    margin-top:0;
    margin-left: 0;
    width: 79vw;
    height: auto;
}

#image{
    /*width: 20vw;*/
    /*height: 20vw;*/
    /*display: flex;*/
    /*border-radius: 50%;*/
    align-items: center;
    justify-content: center;

    overflow: hidden;
}
