.largeCurrentStateDialog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4vh;
    margin-left: 1vw;
    margin-top: 86vh;

    height:10vh;
    width: fit-content;
    position: absolute;
    z-index: 990;
    color: #01194b;
    background-color: #faf8f8;
    opacity: 70%;
    font:bold 20px/24px Verdana, Geneva, sans-serif;
    padding: 5px;



}

.dialog_visible {
    transform: translateX(0);
}
#close{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: 100%;

}
#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;

}