*{
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

.animate-route{
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: fadeRoute;
}

@keyframes fadeRoute {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

