#navigation {
    background-color: #def8f8;
    height: 50px;
    width: 84%;
    position: absolute;
    z-index: 999;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: #3580ee;
    margin-top: 40px;
    margin-left: 8%;
    margin-right: 8%;
    padding: 5px;
    border: 2px solid #def8f8;
    border-radius: 10pt/10pt;
    opacity: 90%;

}
#Nbutton {
    padding: 5px;
    height: auto;
    width: 50px;

}

#Nimage {
    height: auto;
    width: auto;
    align-items: flex-start;
    margin: 5px;
}

#Ntext {

    position: center;
}

#rightBar{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}
#leftBar{
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    position: center;
}