#navigation {
    background-color: #def8f8;
    height: 6vh;
    width: 84%;
    position: absolute;
    z-index: 990;
    font-size: calc(5px + 2vmin);
    color: #3580ee;
    margin-top: 5vh;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
    border: 2px solid #def8f8;
    border-radius: 10pt/10pt;
    opacity: 90%;
}
#Nbutton1{
    height: 5vh;
}


#Nimage {
    height: auto;
    width: auto;
    align-items: flex-start;
    margin: 5px;
}

#Ntext {
    position: center;
}

#rightBar{
    height: 5vh;
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}
#leftBar{
    display: flex;
    flex-direction: row;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    float: left;
}
#menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fullScreenSwitchIcon{
    margin-left: -3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#AccountMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}